body {

    display: flex;

}
.Container {

    display: flex; 
    flex-direction: row; 
    flex: 100;
}
.Emptybox-md{

    flex: 1 ;
}
.Main {

    flex: 2;
     display: flex; 
    flex-direction: column; 
    background-color: rgb(255, 255, 255);
     box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 25px 50px 0px;

}
.Main .Main-Header{

    flex: 1;
     text-align: center;
     

}
.Main .Main-Header h1{


    color: rgba(175, 47, 47, 0.15); font-size: 80px;

}

.Main .Main-Body {
    flex: 1; 
    flex-direction: column; 
   
     text-align: center;
    }

    .Main .Main-Body .Main-Body-TextInput {

     
        font-size: 30pt; 
       
        

    }
    .Main .Main-ListBox {
        flex: 4;
         /* width: 100%;
          height: 100%; */
          


    }
    .Main .Main-TodoBlock {

       
         justify-content: flex-start;
          display: flex;
           flex-direction: row;
            border-color: black; 
           

    }
    .Main .Main-TodoBlock .Checkbox {
       
       width: 60px;
        height: 60px;
        padding: 20px;
         cursor: pointer;
   

    }
    .Main .Main-TodoBlock label{

        font-size: 50px; padding: 20px; flex: 5;


    }
   .Main .Main-TodoBlock img.CloseButton {

     padding: 20px;
      cursor: pointer;
    
      width: 25px;
      height: 25px;
    

   } 
   .Main .Main-TodoBlock:hover {
 
  cursor: pointer;
  background-color: rgb(46, 186, 204);
  transform: translateY(4px);


   
   } 