
.Container {

    display: block; 
    
   
    
 
}
.Emptybox-md{

    flex: 1 ;
    width: 100%;
   
}

.Main {

    margin: 0 auto;
        flex: 1;
     display: flex; 
    flex-direction: column; 
    border-style: dashed;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
        background-color: rgb(255, 255, 255);
        -webkit-box-shadow: 6px 6px 66px 0px rgba(112,46,112,1)  !important;
        -moz-box-shadow: 6px 6px 66px 0px rgba(112,46,112,1)  !important;
        box-shadow: 6px 6px 66px 0px rgba(112,46,112,1) !important;
   
 width: 50%;
}
.Main .Main-Header{

    flex: 1;
     text-align: center;
     

}
.Main .Main-Header h1{


    color: rgba(175, 47, 47, 0.15); font-size: 80px;

}

.Main .Main-Body {
    flex: 1; 
    flex-direction: column; 
   
     text-align: center;
    }

    .Main .Main-Body .Main-Body-TextInput {

     
        font-size: 30pt; 
       
        margin: 10px;

    }
    .Main .Main-ListBox {
        flex: 4;
         /* width: 100%;
         */
          height: 600px; 
          


    }
    .Main .Main-TodoBlock {

       
         justify-content: flex-start;
          display: flex;
           flex-direction: row;
            border-color: black; 
           

    }
    .Main .Main-TodoBlock .Checkbox {
       
       width: 60px;
        height: 60px;
        padding: 20px;
         cursor: pointer;
        

    }

     .Unchecked{

        content:url("img/uncheck.png");

    }

    .Checked {

       
       
    }

    .Main .Main-TodoBlock label{

        font-size: 50px; padding: 20px; flex: 5;


    }
   .Main .Main-TodoBlock img.CloseButton  {

     padding: 20px;
      cursor: pointer;
      content:url("img/Remove.png");
      width: 25px;
      height: 25px;
   

   } 

   Main-TodoBlock-Done{

    background-color: rgb(0, 255, 157);

   }

   Main-TodoBlock-Done .Checkbox{

    content:url("img/checked.png");

   }

   .Done {
    


   }

   .Hidden {
 
    visibility: hidden;
   
   }

   .Visible {
 
    visibility: visible;
   
   }


   .Main .Main-TodoBlock:hover {
 
  cursor: pointer;
  background-color: rgb(46, 186, 204);
  transform: translateY(4px);

   } 