
.Container {

    width: 100%;
    height: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.Main {

    
   
     display: flex; 
    flex-direction: column; 
    
    border-radius: 10px 10px 10px 10px;
   
        background-color: rgb(255, 255, 255);
       
       
        box-shadow: 6px 6px 66px 0px rgba(112,46,112,1) !important;
   
 width: 50%;
 max-width: 1500px;
 height: auto;
}
.Main .Main-Header{

    flex: 1;
     text-align: center;
     

}
.Main .Main-Header h1{


    color: rgba(175, 47, 47, 0.15); 
    font-size: 90px;
}

.Main .Main-Body {
    flex: 1; 
    text-align: center;
    }

    .Main .Main-Body .Main-Body-TextInput {

     
        font-size: 30pt; 
        width:80%;
        margin: 10px;

    }
    .Main .Main-ListBox {
        flex: 4;
         /* width: 100%;
         */
          height: auto; 
          

    }
    .Main .Main-TodoBlock {

       flex:1;
        
          display: flex;
          justify-content: flex-start;
           flex-direction: row;
            border-color: black; 
            margin: 5px;
           

    }
    .Main .Main-TodoBlock .Checkbox {
       
       width: 60px;
        height: 60px;
        padding: 20px;
         cursor: pointer;
         content:url("img/uncheck.png");
        

    }

    .Main .Main-TodoBlock label ,  .Main .Main-TodoBlock-Done label {

        font-size: 50px; padding: 20px; flex: 5;


    }
   .Main .Main-TodoBlock img.CloseButton , .Main .Main-TodoBlock-Done img.CloseButton {

     padding: 20px;
      cursor: pointer;
      content:url("img/Remove.png");
      width: 25px;
      height: 25px;

   } 
   

   .Main-TodoBlock-Done{

    justify-content: flex-start;
    display: flex;
     flex-direction: row;
      border-color: rgba(0, 0, 0, 0.959); 
    background-color: rgb(0, 255, 157);
    margin: 5px;
 
    
   }

  

   .Main-TodoBlock-Done .Checkbox{

    width: 60px;
    height: 60px;
    padding: 20px;
     cursor: pointer;
   
    content:url("img/checked.png");

   }



   .Hidden {
 
    visibility: hidden;
   
   }

   .Visible {
 
    visibility: visible;
   
   }


   .Main .Main-TodoBlock:hover {
 
  cursor: pointer;
  background-color: rgb(46, 186, 204);
  transform: translateY(4px);

   }

   .footer
   {
      display: flex;
      justify-content: center;
   }
   .footer button
   {
       margin-left: 5px;
       margin-right: 5px;
       margin-bottom: 10px;
   }
   .footer button:active { 
    background-color: yellow;
}